/* stylelint-disable color-no-hex */

// Legacy Colours
$lightYellow: #FDF6BB;
$logoBlue: #154273;
$textBlack: #222222;
$black: #000000;
$white: #FFFFFF;

// Grey Colours
$grey10: #F3F3F3;
$grey20: #E6E6E6;
$grey35: #CCCCCC;
$grey75: #999999;
$grey90: #696969;
$grey100: #535353;

// Light Blue Colours
$lightBlue10: #F4FAFD;
$lightBlue20: #E9F4FA;
$lightBlue35: #D8EDF7;
$lightBlue75: #ABD7ED;
$lightBlue90: #9ACFE9;
$lightBlue100: #8FCAE7;

// Sky Blue Colours
$skyBlue10: #E5F0F9;
$skyBlue20: #C7E5F4;
$skyBlue35: #A6D1EB;
$skyBlue75: #409CD5;
$skyBlue90: #1988CC;
$skyBlue100: #007BC7;

// Dark Blue Colours
$darkBlue10: #E5F0F5;
$darkBlue20: #CCE1EB;
$darkBlue35: #A6CADC;
$darkBlue75: #418EB4;
$darkBlue90: #1A77A5;
$darkBlue100: #01689B;

// Mint Colours
$mint10: #F1FAF8;
$mint20: #E4F6F0;
$mint35: #CFEFE6;
$mint75: #98DDC8;
$mint90: #83D6BD;
$mint100: #76D2B6;

// Green Colours
$green10: #EBF3E6;
$green20: #D7E7CE;
$green35: #BAD5AA;
$green75: #6BA549;
$green90: #4C9324;
$green100: #39870C;

// Yellow Colours
$yellow10: #F8F7D6;
$yellow20: #F8F4C2;
$yellow35: #F8F1A3;
$yellow75: #F9E751;
$yellow90: #F9E332;
$yellow100: #F9E11E;

// Dark Yellow Colours
$darkYellow10: #F9F2D5;
$darkYellow20: #F9ECC0;
$darkYellow35: #FAE29F;
$darkYellow75: #FDC748;
$darkYellow90: #FEBD27;
$darkYellow100: #FFB612;

// Orange Colours
$orange10: #F6EBD3;
$orange20: #F3DEBC;
$orange35: #F0C999;
$orange75: #E7923B;
$orange90: #E37D17;
$orange100: #E17000;

// Red Colours
$red10: #FBE9E8;
$red20: #F7D5D2;
$red35: #F2BFBB;
$red75: #E06056;
$red90: #D94034;
$red100: #D52B1E;

// Ruby Red Colours
$rubyRed10: #F3E0DD;
$rubyRed20: #EFC7CF;
$rubyRed35: #E8A2B9;
$rubyRed75: #D63E81;
$rubyRed90: #CF186B;
$rubyRed100: #CA005D;

$rwsFontText: rijksoverheidsanstext, arial, verdana, sans-serif;
$rwsFontHeader: rijksoverheidsansheading, arial, verdana, sans-serif;
$fontSizeDefault: 14px;
$fontSizeReset: 1rem;

%fontNormal {
  font-family: $rwsFontText;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}

%beautifulCenter {
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 90vw;
}
