@import '../styles/vars';

%modalButton {
  width: 11.5rem;
}

.modal {
  > div > div {
    max-width: unset;
    min-width: 45vw;
  }
}

.title {
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 3vw;

  > * {
    color: $logoBlue;
    font-size: 1.1rem;
    font-weight: bolder;
  }
}
