@import '../styles/vars';

%modalButton {
  width: 11.5rem;
}

.modal {
  > div > div {
    border-radius: 0;
    max-width: unset;
    min-width: 45vw;
  }
}

.content {
  padding: 0 3rem 2rem;
}

.title {
  padding: 3rem 3rem 1rem;

  > * {
    color: $logoBlue;
    font-size: 1.1rem;
    font-weight: bolder;
  }
}

.closeIcon {
  bottom: 3rem;
  left: 2.7rem;
  position: relative;

  &SVG {
    height: 0.7em;
    width: 0.7em;
  }
}
