@import '../styles/vars';

%modalButton {
  width: 11.5rem;
}

.modal {
  > div > div {
    max-width: unset;
    min-width: 45vw;
  }
}

.content {
  padding: 0 2rem 2rem;
}

.title {
  padding: 3vw 2rem 1rem;

  > * {
    color: $logoBlue;
    font-size: 1.1rem;
    font-weight: bolder;
  }
}
