### IDE ###
.vscode/*
!.vscode/*.code-snippets
.idea/*
*.iml

# MacOS Finder
.DS_Store

# NodeJS
node_modules/
**/npm-debug.log
/package-lock.json

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Artifacts
*.zip
*.tar*
*.7z
*.rar
**/dist/
**/build/
**/bin/
**/*.tsbuildinfo

# Logs
logs/
coverage/
*.log*
__tests__/screenshots/