#pattern  filter=crypt diff=crypt
sample-user.yml filter=crypt diff=crypt
*.env filter=crypt diff=crypt
*.env.local filter=crypt diff=crypt
*.env.development.local filter=crypt diff=crypt
*.env.test.local filter=crypt diff=crypt
*.env.production.local filter=crypt diff=crypt