@import '../styles/vars';

.button {
  @extend %fontNormal;
  background-color: $blue;
  border-radius: 0;
  box-shadow: none;
  float: right;
  height: 3.2rem;
  line-height: initial;
  margin-right: 1%;

  &Label {
    @extend %fontNormal;
    color: $white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: none;
  }

  &Primary {
    border: 2px solid $blue;
  }

  &Secondary {
    background-color: $yellow;
    border: 2px solid $yellow;
    color: $textBlack;

    > span {
      color: $textBlack;
    }
  }

  &Outlined {
    background-color: $white;
    border: 2px solid $blue;
    color: $blue;

    > span {
      color: $blue;
    }

    &:hover {
      border-width: 2px;
    }

    &Secondary {
      border: 2px solid $yellow;
      color: $yellow;

      > span {
        color: $yellow;
      }
    }
  }

  &Disabled {
    background-color: $lightGrey;
    border: transparent;
    color: $textBlack;

    > span {
      color: $textBlack;
    }
  }
}
