@import '../styles/vars';

.tablePagination {
  @extend %beautifulCenter;
  align-items: center !important;
  background-color: $lightBlue !important;
  display: flex !important;
  float: left !important;
  font-size: $fontSizeDefault !important;
  height: 2.4vw !important;
  width: 100% !important;

  &Mobile {
    height: 2.5rem !important;
  }
}

.selectIcon {
  left: 1.4rem !important;
}

.menuItem {
  font-size: $fontSizeDefault !important;
}
