@import '../styles/vars';

.heightCorrection {
  flex-basis: 0%;
  height: 4rem;
}

.toolbar {
  @extend %beautifulCenter;
  background-color: $lightGrey;
  display: flex;
  height: 4rem;
  margin-top: 5vh;
  width: 100%;
}

.searchFieldContent {
  border: 1px solid $mediumGrey;
  border-radius: 0;
  box-shadow: none;
  color: $grey;
  font-size: $fontSizeReset;
  margin: 0 auto;
  margin-left: 24vw;
  width: 20vw;
}

.searchIconButton {
  color: $blue;
  opacity: 1;
}

// stylelint-disable-next-line selector-max-compound-selectors
.ie11SearchBarTextCorrection > div > div > input {
  min-height: 2.5rem;
}
