/* stylelint-disable color-no-hex */

// Legacy Colours
$lightYellow: #fdf6bb;
$logoBlue: #154273;
$textBlack: #222222;
$black: #000000;
$white: #ffffff;

// Grey Colours
$grey10: #f3f3f3;
$grey20: #e6e6e6;
$grey35: #cccccc;
$grey75: #999999;
$grey90: #696969;
$grey100: #535353;

// Light Blue Colours
$lightBlue10: #f4fafd;
$lightBlue20: #e9f4fa;
$lightBlue35: #d8edf7;
$lightBlue75: #abd7ed;
$lightBlue90: #9acfe9;
$lightBlue100: #8fcae7;

// Sky Blue Colours
$skyBlue10: #e5f0f9;
$skyBlue20: #c7e5f4;
$skyBlue35: #a6d1eb;
$skyBlue75: #409cd5;
$skyBlue90: #1988cc;
$skyBlue100: #007bc7;

// Dark Blue Colours
$darkBlue10: #e5f0f5;
$darkBlue20: #cce1eb;
$darkBlue35: #a6cadc;
$darkBlue75: #418eb4;
$darkBlue90: #1a77a5;
$darkBlue100: #01689b;

// Mint Colours
$mint10: #f1faf8;
$mint20: #e4f6f0;
$mint35: #cfefe6;
$mint75: #98ddc8;
$mint90: #83d6bd;
$mint100: #76d2b6;

// Green Colours
$green10: #ebf3e6;
$green20: #d7e7ce;
$green35: #bad5aa;
$green75: #6ba549;
$green90: #4c9324;
$green100: #39870c;

// Yellow Colours
$yellow10: #f8f7d6;
$yellow20: #f8f4c2;
$yellow35: #f8f1a3;
$yellow75: #f9e751;
$yellow90: #f9e332;
$yellow100: #f9e11e;

// Dark Yellow Colours
$darkYellow10: #f9f2d5;
$darkYellow20: #f9ecc0;
$darkYellow35: #fae29f;
$darkYellow75: #fdc748;
$darkYellow90: #febd27;
$darkYellow100: #ffb612;

// Orange Colours
$orange10: #f6ebd3;
$orange20: #f3debc;
$orange35: #f0c999;
$orange75: #e7923b;
$orange90: #e37d17;
$orange100: #e17000;

// Red Colours
$red10: #fbe9e8;
$red20: #f7d5d2;
$red35: #f2bfbb;
$red75: #e06056;
$red90: #d94034;
$red100: #d52b1e;

// Ruby Red Colours
$rubyRed10: #f3e0dd;
$rubyRed20: #efc7cf;
$rubyRed35: #e8a2b9;
$rubyRed75: #d63e81;
$rubyRed90: #cf186b;
$rubyRed100: #ca005d;
