/* stylelint-disable color-no-hex */

// stylelint-disable-next-line number-max-precision
$arrowModifier: 1.41421356;

$black: #000000;
$blue: #0B71AB;
$brightBlue: #007BC7;
$mediumBlue: #005395;
$darkBlue: #154273;
$darkOrange: #FFB612;
$darkWhite: #F8F8F8;
$green: #39870C;
$grey: #666666;
$inactiveBlue: #85B8D5;
$lightBlue: #E5F0F9;
$lightGreen: #C3DBB6;
$lightGrey: #DAD9D7;
$lightYellow: #FDF6BB;
$mediumGrey: #979797;
$mediumRareGrey: #777777;
$middleYellow: #FBED7E;
$orange: #F6D4B2;
$pink: #F2BFBB;
$red: #D52B1E;
$salmonPink: #F9DFDD;
$textBlack: #222222;
$veryLightGrey: #F7F6F4;
$white: #FFFFFF;
$yellow: #F9E11E;

$rwsFontText: rijksoverheidsanstext, arial, verdana, sans-serif;
$rwsFontHeader: rijksoverheidsansheading, arial, verdana, sans-serif;
$fontSizeDefault: 14px;
$fontSizeReset: 1rem;

%fontNormal {
  font-family: $rwsFontText;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}

%beautifulCenter {
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 90vw;
}
