/* stylelint-disable color-no-hex */

// stylelint-disable-next-line number-max-precision
$arrowModifier: 1.41421356;

$black: #000000;
$blue: #0b71ab;
$bright-blue: #007bc7;
$medium-blue: #005395;
$dark-blue: #154273;
$dark-orange: #ffb612;
$dark-white: #f8f8f8;
$green: #39870c;
$grey: #666666;
$inactive-blue: #85b8d5;
$light-blue: #e5f0f9;
$light-green: #c3dbb6;
$light-grey: #dad9d7;
$light-yellow: #fdf6bb;
$medium-grey: #979797;
$medium-rare-grey: #777777;
$middle-yellow: #fbed7e;
$orange: #f6d4b2;
$pink: #f2bfbb;
$red: #d52b1e;
$salmon-pink: #f9dfdd;
$text-black: #222222;
$very-light-grey: #f7f6f4;
$white: #ffffff;
$yellow: #f9e11e;

$rws-font-text: rijksoverheidsanstext, arial, verdana, sans-serif;
$rws-font-header: rijksoverheidsansheading, arial, verdana, sans-serif;
$font-size-default: 14px;
$font-size-reset: 1rem;

@mixin font-normal {
  font-family: $rws-font-text;
  font-stretch: normal !important;
  font-style: normal !important;
  font-weight: normal !important;
}

@mixin beautifulCenter {
  margin-left: 5vw !important;
  margin-right: 5vw !important;
  max-width: 90vw !important;
}
