@import '../../styles/vars';

.tableCells {
  font-size: 0.9rem !important;

  &:nth-of-type(n + 1) {
    border-left: 1px solid $grey10 !important;
  }

  &:first-child {
    border-left: 0 solid $white !important;
  }
}

.sortIcon {
  font-size: 1.2rem;
}

.actionHeaderCell {
  min-width: 1rem;
}
