@import '../styles/vars';

.paginationNumbers {
  color: $blue !important;
  cursor: pointer !important;
  font-family: $rwsFontText !important;
  font-weight: bolder !important;
  margin-left: 0.5vw !important;
  margin-right: 0.5vw !important;
}

.activePageChip {
  border-width: 2px !important;
  font-weight: bolder !important;
}

.noHoverBackground:hover,
.noHoverBackground:focus {
  background-color: transparent !important;
}

.ie11ChipCorrection {
  min-width: 2rem !important;
}
