@import '../styles/vars';

@mixin tooltipDefaults {
  background-color: $white !important;
  border: 1px solid $light-grey !important;
  border-radius: 0 !important;
  color: $text-black !important;
  font-size: 0.9rem !important;
}

/*
  Based on CSS Arrows from: http://www.cssarrowplease.com/
  $color is the color of the arrow
  $arrowSize is the size of the arrow
  $borderSize affects the size of the entire tooltip
              and should be smaller than $arrowSize
  $[top|bottom|left|right]Offset defines the offset the arrow has to the
              tooltip. 50% puts it in the middle of the tooltip of the given side
*/
@mixin popperArrowUpGenerator ($color, $arrowSize, $borderSize, $leftOffset) {
  &::after,
  &::before {
    border: solid transparent !important;
    bottom: 100% !important;
    content: ' ' !important;
    height: 0 !important;
    left: $leftOffset !important;
    pointer-events: none !important;
    position: absolute !important;
    width: 0 !important;
  }

  &::after {
    border-bottom-color: $white !important;
    border-width: $arrowSize !important;
    margin-left: -$arrowSize !important;
  }

  &::before {
    border-bottom-color: $color !important;
    border-width: ($arrowSize + ($borderSize * $arrowModifier)) !important;
    margin-left: -($arrowSize + ($borderSize * $arrowModifier)) !important;
  }
}

@mixin popperArrowLeftGenerator ($color, $arrowSize, $borderSize, $topOffset) {
  &::after,
  &::before {
    border: solid transparent !important;
    content: ' ' !important;
    height: 0 !important;
    pointer-events: none !important;
    position: absolute !important;
    right: 100% !important;
    top: $topOffset !important;
    width: 0 !important;
  }

  &::after {
    border-right-color: $white !important;
    border-width: $arrowSize !important;
    margin-top: -$arrowSize !important;
  }

  &::before {
    border-right-color: $color !important;
    border-width: ($arrowSize + ($borderSize * $arrowModifier)) !important;
    margin-top: -($arrowSize + ($borderSize * $arrowModifier)) !important;
  }
}

.tooltip[x-placement*='right'] > div {
  @include popperArrowLeftGenerator($light-grey, 10px, 1px, 25%);
  @include tooltipDefaults;
  font-size: 0.75rem !important;
  margin-left: 0.7rem !important;
  margin-top: 3.3rem !important;
  width: 60% !important;
}

.tooltip[x-placement*='bottom'] > div {
  @include popperArrowUpGenerator($light-grey, 10px, 1px, 25%);
  @include tooltipDefaults;
  margin-top: 0.5rem !important;
}
