@import '../styles/vars';

.actionBar {
  background-color: $yellow20 !important;
  height: 5rem !important;
  line-height: 5rem !important;
}

.actionBarHeader {
  color: $textBlack !important;
  font-size: 2.2rem !important;
  margin: 0 !important;
  padding-left: 26px !important;
}

@media only screen and (max-width: 1024px) {
  .actionBarHeader {
    font-size: 1.6rem !important;
  }
}

@media only screen and (max-width: 800px) {
  .actionBarHeader {
    font-size: 1.2rem !important;
  }
}
