@import '../styles/vars';
@import '../styles/breakpoints';

.action {
  &Bar {
    background-color: $yellow20;
    height: 5rem;
    line-height: 5rem;
  }

  &Header {
    font-size: 2.2rem;

    @include md {
      font-size: 1.6rem;
    }

    @include smallLaptop {
      font-size: 1.6rem;
    }

    @include sm {
      font-size: 1.1rem;
    }
  }

  &Grid {
    &Left {
      height: 100%;
      padding-left: 2rem;

      @include sm {
        padding-left: 1rem;
      }
    }
    &Right {
      padding-right: 2rem;

      @include sm {
        padding-right: 1rem;
      }
    }
  }
}
