@import "../../styles/vars";

.outline {
  border-radius: 0 !important;
  border-width: 1px;
}

.input {
  color: $textBlack;
  font-size: 0.9rem;
  height: 2.5rem;
  min-height: 2.5rem;

  &Label {
    font-size: 1rem;
    font-style: italic;
    transform: translate(14px, -6px) scale(0.75);
  }
}

.error {
  &Label {
    position: absolute;
    top: 2.5rem;
  }
}

.datePickerIcon {
  button {
    padding: 0.4rem;

    &:hover {
      padding: 0.4rem;
    }
  }

  svg {
    height: 1rem;
    width: auto;
  }
}
