@import "../../styles/vars";

.outline {
  border-radius: 0 !important;
  border-width: 1px;
}

.input {
  color: $textBlack;
  font-size: 0.9rem;
  height: 2.5rem;
  min-height: 2.5rem;
}

.inputLabel {
  font-size: 1rem;
  font-style: italic;
  transform: translate(14px, -6px) scale(0.75);
}

.error {
  &Label {
    color: $red100;
    position: absolute;
    top: 2.5rem;
  }

  &Input {
    :hover > fieldset {
      border-width: 2px;
    }
  }
}
