.app {
  text-align: center;
}

.header {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  flex-wrap: wrap;
}

.logo {
  text-align: center;
  margin-top: 2rem;
}

.spacer {
  margin-top: 2rem;
}