@import "../../styles/vars";

.select {
  border-radius: 0 !important;
  border-width: 1px;
  height: 2.5rem;
  min-height: 2.5rem;
}

.input {
  color: $textBlack;
  font-size: 0.9rem;
}

.inputLabel {
  color: $grey75;
  font-size: 1rem;
  font-style: italic;
  transform: translate(1rem, 0.8rem);

  &Shrink {
    color: $textBlack;
  }
}

.error {
  &Select > fieldset {
    border-color: $red100 !important;
  }

  &Select:hover > fieldset {
    border-width: 2px;
  }

  &Label {
    color: $red100;
    position: absolute;
    top: 2.5rem;
  }
}

.menuItem {
  font-size: 0.9rem;

  &:hover {
    @extend %hoverStyle;
  }

  &Selected {
    &:hover {
      @extend %hoverStyle;
    }
  }
}

%hoverStyle {
  background-color: $skyBlue100 !important;
  color: $white !important;
}
