@import '../../styles/vars';

.paper {
  align-items: center;
  display: flex;
  height: 2.5rem;
  padding: 2px;
}

.input {
  flex: 1;
  font-size: 1rem;
  margin-left: 8px;

  &Button {
    padding: 10px;
  }
}
