@import '../../styles/vars';

.toolbar {
  @extend %beautifulCenter;
  background-color: $skyBlue20;
  display: flex;
  height: 4rem;
  margin-top: 5vh;
  width: 100%;
}

.searchFieldContent {
  border: 1px solid $grey35;
  border-radius: 0;
  color: $grey35;
  font-size: $fontSizeReset;
}

.paper {
  align-items: center;
  display: flex;
  height: 2.5rem;
  padding: 4px;
}

// stylelint-disable-next-line selector-max-compound-selectors
.ie11SearchBarTextCorrection > div > div > input {
  min-height: 2.5rem;
}
