@import '../styles/vars';

.content > * {
  @extend %fontNormal;
  color: $textBlack;
  font-family: $rwsFontText !important;
  font-size: 1rem;
  letter-spacing: 0.6px;
  line-height: 1.81;
}

.content {
  padding-top: 0.2rem;
}
