@import './vars';

%fontNormal {
  font-family: $rwsFontText;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: RijksoverheidSansHeading;
  font-style: normal;
  font-weight: normal;
  src: url('./font/heading/regular/rijksoverheidsansheading-regular_2_0-webfont.woff') format('woff');
}

@font-face {
  font-family: RijksoverheidSansText;
  font-style: italic;
  font-weight: normal;
  src: url('./font/text/italic/rijksoverheidsanswebtext-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: RijksoverheidSansText;
  font-style: normal;
  font-weight: normal;
  src: url('./font/text/regular/rijksoverheidsanswebtext-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: RijksoverheidSansText;
  font-style: normal;
  font-weight: bold;
  src: url('./font/text/bold/rijksoverheidsanswebtext-bold-webfont.woff') format('woff');
}

// Setting the global font styling
body {
  @extend %fontNormal;
  color: $textBlack;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2.5rem;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

h1 {
  @extend %fontNormal;
  color: $logoBlue;
  font-family: $rwsFontHeader;
  font-size: 4.4rem;
  line-height: 4.4rem;
  margin: 2rem 0;
}

h2 {
  @extend %fontNormal;
  color: $logoBlue;
  font-family: $rwsFontHeader;
  font-size: 3.8rem;
  line-height: 3.8rem;
  margin: 2.4rem 0 2rem;
}

h3 {
  @extend %fontNormal;
  color: $logoBlue;
  font-family: $rwsFontHeader;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin: 1rem 0 2rem;
}

// stylelint-disable-next-line selector-class-pattern
.redux-toastr * {
  @extend %fontNormal;
}

pre {
  @extend %fontNormal;
  background: $grey20;
  color: $textBlack;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 1.5rem;
  padding: 1.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body {
  background-color: $white;
  color: $textBlack;
  font-family: $rwsFontText;
}
