@import '../styles/vars';

.button {
  @extend %fontNormal;
  background-color: $blue !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  float: right !important;
  height: 3.2rem !important;
  line-height: initial !important;
  margin-right: 1% !important;

  &Label {
    @extend %fontNormal;
    color: $white !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    text-transform: none !important;
  }

  &Primary {
    border: 2px solid $blue !important;
  }

  &Secondary {
    background-color: $yellow !important;
    border: 2px solid $yellow !important;
    color: $textBlack !important;

    > span {
      color: $textBlack !important;
    }
  }

  &Outlined {
    background-color: $white !important;
    border: 2px solid $blue !important;
    color: $blue !important;

    > span {
      color: $blue !important;
    }

    &:hover {
      border-width: 2px !important;
    }

    &Secondary {
      border: 2px solid $yellow !important;
      color: $yellow !important;

      > span {
        color: $yellow !important;
      }
    }
  }

  &Disabled {
    background-color: $lightGrey !important;
    border: transparent !important;
    color: $textBlack !important;

    > span {
      color: $textBlack !important;
    }
  }
}
