@import '../styles/vars.scss';

.rwsButton {
  @include font-normal;
  background-color: $blue !important;
  border-radius: 0        !important;
  box-shadow: none        !important;
  float: right            !important;
  height: 3.2rem          !important;
  line-height: initial    !important;
  margin-right: 1%        !important;
}

.rwsButtonLabel {
  @include font-normal;
  color: $white           !important;
  font-size: 1rem         !important;
  font-weight: bold       !important;
  text-transform: none    !important;
}

button[class*="Secondary"] {
  background-color: $yellow !important;
}

button:disabled {
  background-color: $light-grey !important;
}

button[class*="outlined"] {
  background-color: $white !important;
  border: 2px solid $blue !important;
  color: $text-black !important;

  > span {
    color: $text-black !important;
  }

  &:hover {
    border-width: 2px !important;
  }
}