@import '../styles/vars';

.tablePagination {
  @extend %beautifulCenter;
  align-items: center;
  background-color: $skyBlue20;
  display: flex;
  float: left;
  font-size: $fontSizeDefault;
  height: 3rem;
  width: 100%;

  &Mobile {
    height: 2.5rem;
  }
}

.selectIcon {
  left: 1.4rem;
}

.text {
  font-size: $fontSizeDefault !important;

  > * {
    font-size: $fontSizeDefault !important;

    > * {
      font-size: $fontSizeDefault !important;
    }
  }
}
