@import '../styles/vars';

.content > * {
  @include font-normal;
  color: $text-black;
  font-family: $rws-font-text !important;
  font-size: 1rem;
  letter-spacing: 0.6px;
  line-height: 1.81;
}

.content {
  padding-top: 0.2rem;
}
