@import '../styles/vars.scss';

.tableCells {
  font-size: 0.9rem !important;

  &:nth-of-type(n + 1) {
    border-left: 1px solid $light-grey !important;
  }

  &:first-child {
    border-left: 0 solid $white !important;
  }
}
