name: Lint

on:
  push:
    branches-ignore:
      - gh-pages

jobs:
  ESLint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Restore CI Cache
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-12-${{ hashFiles('**/yarn.lock') }}
      - name: Install Dependencies
        run: yarn --ignore-scripts
      - name: Build Lint config
        run: yarn tsc -b packages/eslint-config/src packages/stylelint-config
      - name: Lint code
        run: yarn lint
